<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Application</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>My First Application</strong>
    <ion-button (click)="navitateToSecondPage()">Navigate to second page</ion-button>

    <div text-left>
      <p > Hello TEXT!</p>
    </div>
  </div>
</ion-content>
