ion-grid {
    margin-top: 30vh;
}

ion-img {
    background: transparent;
    width: 120px;
    height: 90px;
}

.vertical-center{
    justify-content: center;
}

h1 {
    color: rgb(214, 152, 35);
}